<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Delete: {{post.title}}?</p>
    <form action="{% url 'travelbox:delete' post.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="yes">     
    </form>
    <form action="{% url 'travelbox:read_all'%}" method="get">
        {% csrf_token %}
        <input type="submit" value="no">     
    </form>
   
    
</body>
</html>