<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>My Travel Box</title>
  <link rel="stylesheet" href="{% static 'css/travel_box.css' %}">
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script> 
  <script src="{% static 'js/mybox.js' %}"></script> 
  <!-- 쿼리가 js보다 앞에 배치해야함 -->
  
</head>
<body>
  <div class="mainbox">
      <h1>{{ post.place_name }}</h1>
      
    </div>

    {% if post.image_1 %}
    <div style="width: 250px;">
        <img src="{{ post.image_1.url }}" alt="post image" style="width: 100%;">
    </div>
    {% endif %}

    <section>
      <h2>날씨</h2>
      맑음 => 날씨API       <!-- 임시 -->

    </section>
  

    <section>
      <button id="btn_toggle"><h2>교통수단</h2></button>
      <div id="Toggle" style="display:none">{{post.traffic}}</div>
    </section>
    
     
      <section>
      <button id="btn_toggle1"><h2>숙소</h2></button>
      <div id="Toggle1" style="display:none">{{post.accomdation}}</div>
      </section>

      <section>
        <button id="btn_toggle2" ><h2>음식</h2></button>
        <div id="Toggle2" style="display:none">{{post.food}}</div>
    </section> 

    <section>
      <button id="btn_toggle3" ><h2>액티비티</h2></button>
      <div id="Toggle3" style="display:none">{{post.activity}}</div>
    </section>

    <section>
      <button id="btn_toggle4" ><h2>경치</h2></button>
      <div id="Toggle4" style="display:none">{{post.sightseeing}}</div>
    </section>
    
   
      <section>
       
              <button id="btn_toggle5" ><h2>미션</h2></button>
              <div id="Toggle5" style="display:none">
                미션이미지1<br>
                {% if post.image_1 %}
                <div style="width: 250px;">
                    <img src="{{ post.image_1.url }}" alt="post image_1" style="width: 100%;">
                     <input type="checkbox" value="1">
                </div>
                {% endif %}
                <input type="file" name="user_image_1" form="post-write"><br>
                미션이미지2<br>
                {% if post.image_2 %}
                <div style="width: 250px;">
                    <img src="{{ post.image_2.url }}" alt="post image_2" style="width: 100%;">
                    <input type="checkbox" value="2">
                </div>
                {% endif %}
                <input type="file" name="user_image_2" form="post-write"><br>
                미션이미지3<br>
                {% if post.image_3 %}
                <div style="width: 250px;">
                    <img src="{{ post.image_3.url }}" alt="post image_3" style="width: 100%;">
                    <input type="checkbox" value="3">
                </div>
                {% endif %}
                <input type="file" name="user_image_3" form="post-write"><br><br>
                
            </div>
            </section>
            <form action="{% url 'travelbox:mybox' post.id %}" id="post-write"  method="post" enctype="multipart/form-data"> 
              {% csrf_token %}        
            <input type="submit" value="submit">
          </form>

    
   
  </div>


  <footer>
      <p>Copyright SUPME rights reserved.</p>
  </footer>

</body>
</html>
