<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>My Travel Box</title>
  <link rel="stylesheet" href="{% static 'css/travel_box.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'js/mybox.js' %}"> -->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script> 
  <script src="{% static 'js/mybox.js' %}"></script> 
  <!-- ============================================== 임시-->
  
  
  <!-- ============================================== -->
  
</head>
<body>
  <div class="mainbox">
    <div class="title-box">
      <h1>{{ post.place_name }}</h1>
      
    </div>

    {% if post.image %}
    <div style="width: 250px;">
        <img src="{{ post.image.url }}" alt="post image" style="width: 100%;">
    </div>
    {% endif %}

    <section>
      <h2>날씨</h2>
      맑음 => 날씨API       <!-- 임시 -->

    </section>
  

    <section>
      <button id="btn_toggle"><h2>교통수단</h2></button>
      <div id="Toggle" style="display:none">{{post.traffic}}</div>
    </section>
    
     
      <section>
      <button id="btn_toggle1"><h2>숙소</h2></button>
      <div id="Toggle1" style="display:none">{{post.accomdation}}</div>
      </section>

      <section>
        <button id="btn_toggle2" ><h2>음식</h2></button>
        <div id="Toggle2" style="display:none">{{post.food}}</div>
    </section> 

    <section>
      <button id="btn_toggle3" ><h2>액티비티</h2></button>
      <div id="Toggle3" style="display:none">{{post.activity}}</div>
    </section>

    <section>
      <button id="btn_toggle4" ><h2>경치</h2></button>
      <div id="Toggle4" style="display:none">{{post.sightseeing}}</div>
    </section>
    
    <section>
      <button id="btn_toggle5" ><h2>미션</h2></button>
      <div id="Toggle5" style="display:none">
        미션이미지1
        <input type="file" name="image"><br>
        미션이미지2
        <input type="file" name="image"><br>
        미션이미지3
        <input type="file" name="image"><br>
     </div>
    </section>

   
  </div>


  <footer>
      <p>Copyright SUPME rights reserved.</p>
  </footer>
<!-- ===================================================== -->
  <!-- <script>
   $(function (){
	$("#btn_toggle").click(function (){
  	$("#Toggle").toggle();
  });
});

$(function (){
	$("#btn_toggle1").click(function (){
  	$("#Toggle1").toggle();
  });
});

$(function (){
	$("#btn_toggle2").click(function (){
  	$("#Toggle2").toggle();
  });
});

$(function (){
	$("#btn_toggle3").click(function (){
  	$("#Toggle3").toggle();
  });
});

$(function (){
	$("#btn_toggle4").click(function (){
  	$("#Toggle4").toggle();
  });
});

$(function (){
	$("#btn_toggle5").click(function (){
  	$("#Toggle5").toggle();
  });
});

  </script> -->
  <!-- ===================================================== -->
</body>
</html>
