<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>My Travel Box</title>
  <link rel="stylesheet" href="{% static 'travelbox/css/travel_box.css' %}">
</head>
<body>
  <div class="mainbox">
    <div class="title-box">
      <h1>{{ post.place_name }}</h1>
      
    </div>

    {% if post.image %}
    <div style="width: 250px;">
        <img src="{{ post.head_image.url }}" alt="post image" style="width: 100%;">
    </div>
    {% endif %}

    <section>
      <h2>날씨</h2>
      맑음 => 날씨API       <!-- 임시 -->

      </section>
  

    <section>
      <button><h2>교통수단</h2></button>
      {{post.traffic}}
      </section>
    
     
      <section>
      <button><h2>숙소</h2></button>
      {{post.accomdation}}
      </section>

      <section>
        <button><h2>음식</h2></button>
        {{post.food}}
    </section>

    <section>
      <button><h2>액티비티</h2></button>
      {{post.activity}}
    </section>

    <section>
      <button><h2>경치</h2></button>
      {{post.sightseeing}}
    </section>
    
    <section>
      <button><h2>미션</h2></button>
      <div>
        미션이미지1
        <input type="file" name="image"><br>
        미션이미지2
        <input type="file" name="image"><br>
        미션이미지3
        <input type="file" name="image"><br>
     </div>
    </section>

    <div class="sns-wrap">
      
    </div>
  </div>


  <footer>
      <p>Copyright SUPME rights reserved.</p>
  </footer>
</body>
</html>
