<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Read all</title>
</head>
<body>
    {% if posts %}
    <ul>
        {% for post in posts %}
        <li><a href="{% url 'travelbox:read_box' post.id %}">{{ post}}</a></li>
        {% empty%}
        <li>작성된 글이 없습니다.</li>
        {% endfor  %}
    </ul>
    {% else %}
    <!-- 이건 html주석입니다 -->
    {#이건 장고 템플릿의 주석입니다.#}
    <p>작성된 글이 없습니다.</p>
    {% endif %}
   

</body>
</html>