<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Read </title>
</head>
<body>
    <h1>유저가 보낸 사진</h1>
    {% if post.user_image_1 %}
    <div style="width: 250px;">
        <img src="{{ post.user_image_1.url }}" alt="post user_image_1" style="width: 100%;">
    </div>
    {% else %}
    <!-- 이건 html주석입니다 -->
    <p>사진이 없습니다.</p>
    {% endif %}

    
    {% if post.user_image_2 %}
    <div style="width: 250px;">
        <img src="{{ post.user_image_2.url }}" alt="post user_image_2" style="width: 100%;">
    </div>
    {% else %}
    <!-- 이건 html주석입니다 -->
    <p>사진이 없습니다.</p>
    {% endif %}

    {% if post.user_image_3 %}
    <div style="width: 250px;">
        <img src="{{ post.user_image_3.url }}" alt="post user_image_3" style="width: 100%;">
    </div>
    {% else %}
    <!-- 이건 html주석입니다 -->
    <p>사진이 없습니다.</p>
    {% endif %}
    
  
    </body>
</html>